.container{
    height: 700px;
    width: 600px;
    border: 1px solid black;
    background-color: yellow;
    display: grid;
    grid-template-columns: 400px ;
    grid-template-rows: 30px 1fr  1fr 30px;
    gap: 4px;
    

}

.box{
    background-color: aqua;
    border: 1px solid red;
}

